@page
@model BDIC_TAXATION_WEB.Pages.Tax_Payer.PaymentModel
@{
    ViewData["Title"] = "Revenue Invoice";
}
<div class="content-wrapper">
    <div class="content-header row">
        <div class="offset-md-3 col-md-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="text-center h2 mb-2">@ViewData["Title"].ToString().ToUpper()</div>
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12 card border-secondary  text-center bg-transparent">
                                        <div class="mt-2">
                                            <strong>Tersoo Solomon</strong> &emsp; <span class="badge bg-success">TIN: 5452124545</span>
                                        </div>
                                        <div class="mt-1"><span class="text-muted">Address:</span>&ensp; Km5 Gboko Road Makurdi, Benue State, Nigeria</div>
                                        <div class="mt-1 mb-1">
                                            <div>
                                                <span class="text-muted">Invoice generated: </span><strong>March 25, 2025</strong>
                                                <span class="text-muted">Invoice number: </span><strong>5454218554DSHV</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 card border-secondary  text-center bg-transparent">
                                        <div class="text-bold-600 font-medium-2 mt-1 mb-2">
                                            Renenue Details
                                        </div>
                                        <table class="mb-3 table-sm">
                                            <thead>
                                                <tr>
                                                    <td>Revenue Type</td>
                                                    <th>Business Permit</th>
                                                </tr>
                                                <tr>
                                                    <td>Amount Due</td>
                                                    <th>N10,000.00</th>
                                                </tr>
                                                <tr>
                                                    <td>Discount</td>
                                                    <th>N10,000.00</th>
                                                </tr>
                                                <tr>
                                                    <td>Late Fees</td>
                                                    <th>N10,000.00</th>
                                                </tr>
                                                <tr>
                                                    <th>Total payable amount</th>
                                                    <th>N30,000.00</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="col-md-12 center">
                                        <input type="hidden" />
                                        <button type="submit" class="btn text-white mr-1 mb-1 block" style="background-color:green;">Proceed to make payment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>