@page
@model BDIC_TAXATION_WEB.Pages.Account.Password_ResetModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BDIC Reset Password</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/confirmmessage.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="login-container">
            <div class="login-header">
                <div class="mb-5 d-flex justify-content-center">
                    @*<img src="~/images/Frame 709.svg" />*@
                    <i class="bi bi-lock-fill text-success h1"></i>
                </div>
                <h4 class="login-title">Password reset</h4>
                <small class="login-subtitle">Enter a new password for your account</small>
            </div>

            <form class="mt-2">
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="********">
                </div>
                <div class="mb-3">
                    <label for="Confirmpassword" class="form-label">Confirm Password</label>
                    <input type="email" class="form-control" id="Confirmpassword" placeholder="********">
                </div>
                <a asp-page="/Account/Login" class="btn btn-success btn-lg w-100">Back to Login Page</a>
            </form>
        </div>
    </div>

</body>
</html>
