<select id="fileReturn_AssetTaxable" name="fileReturn.AssetTaxable" val="true" class="custom-select">
    <option disabled selected value="">Select Asset</option>
    <option value="real-estate">Real Estate</option>
    <option value="stocks">Stocks</option>
    <option value="bonds">Bonds</option>
    <option value="mutual-funds">Mutual Funds</option>
    <option value="cryptocurrency">Cryptocurrency</option>
    <option value="savings-accounts">Savings Accounts</option>
    <option value="rental-income">Rental Property Income</option>
    <option value="business-assets">Business Assets</option>
    <option value="collectibles">Collectibles (Art, Antiques, etc.)</option>
    <option value="vehicles">Vehicles</option>
    <option value="precious-metals">Precious Metals (Gold, Silver, etc.)</option>
    <option value="foreign-assets">Foreign Assets</option>
</select>